* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #f2f3f7;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

.max-height {
  height: calc(100vh);
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-overflow: ellipsis;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#nav_assessment_prof {
  width: 10vw;
}

.button_export {
  border-radius: 5px;
  background-color: #990000;
  border: 0px;
  color: #fff;
  height: 40px;
}

.button_edit {
  border-radius: 5px;
  background-color: #990000;
  border: 0px;
  color: #fff;
  height: 40px;
}

.button_report {
  border-radius: 5px;
  background-color: #990000;
  border: 0px;
  color: #fff;
  height: 40px;
}

.button_expand {
  background-color: transparent;
  border: none;
  background-image: url("assets/expand.png");
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.button_collapse {
  background-color: transparent;
  border: none;
  background-image: url("assets/expand.png");
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
  margin-right: 10px;
}

#container_assessment_prof_subject {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 2%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
}

#container_assessments_subject {
  height: 100%;
}

.hidden {
  display: none;
}

#filter-container {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#filter-container label {
  margin: 0px;
  margin-right: 5px;
}

#filter-container select {
  padding: 5px;
}

.flex_row {
  display: block;
}

.flex_row.cont {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex_row .flex_row {
  float: right;
}

.flex_row button {
  border-radius: 5px;
  background-color: #700000;
  border: 0px;
  color: #fff;
}

.flex_row button:hover {
  cursor: pointer;
}

.flex_row-container {
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 30px;
}

.subject_section {
  padding: 2%;
  border-radius: 20px;
  border: 0px solid black;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}

#section1 {
  color: #700101;
}

.card_topic {
  margin-top: 1%;
}

.container_collapsed {
  text-overflow: ellipsis;
  display: flex;
}

.container_collapsed > h2 {
  color: #700101;
}

.container_student {
  border: 0px solid #000000;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  position: relative;
  right: 0;
  overflow: hidden;
}

.container_assessment {
  border: 0px solid #000000;
  width: 100%;
}

.container_expanded {
  width: calc(100% - 60px);
  margin-left: 60px;
}

.card_student {
  display: flex;
  flex-direction: row;
  border: 0.8px solid #b5b5b5;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.card_student h3 {
  margin: 0px;
  color: #700101;
}

#landing_page {
  padding-left: 15px;
  padding-right: 15px;
  height: calc(100% - 130px);
  margin-top: 160px;
  padding-bottom: 50px;
}

.p_nospace {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  color: #700101;
}

.p_cont {
  margin-top: 20px;
  width: 100%;
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.p_cont > p {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.review-button {
  padding: 3px;
  border-radius: 5px;
  color: white;
  min-width: 110px;
  text-align: center;
}

.button-not-attempted {
  background-color: #b5b5b5;
}

.button-done {
  background-color: #00d415;
}

/* Create Exam */

fieldset {
  border-style: none;
  border-bottom: solid;
  border-color: rgb(222, 226, 230);
  border-width: 2px;
}

.assessment-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.assessment-item h3 {
  margin-top: 0;
}
button {
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
}

.form-group {
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
}

#assessment-list {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
}
.assessment-item {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.assessment-item h3 {
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
}

/* Student Report Page */

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

table {
  margin-top: 2%;
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

table > thead > tr > th {
  padding: 2%;
  overflow: scroll;
  background-color: #700000;
  color: #fff;
}

table > tbody > tr:nth-child(even) {
  background-color: #b5b5b5;
}

#table-container {
  overflow-x: scroll;
}

.underline {
  width: 100%;
  border: 0.5px solid #dddddd;
}

.underline.question {
  margin-bottom: 20px;
  width: 100%;
  border: 0.5px solid #dddddd;
}

.underline.bottom-margin {
  margin-bottom: 20px;
  width: 100%;
  border: 0.5px solid #dddddd;
}

.underline.top-bottom-margin {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  border: 0.5px solid #dddddd;
}

.top-margin-20 {
  margin-top: 20px !important;
}

/* Navigation Bar */

header {
  background-color: #990000;
  color: white;
}

.top-bar {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #fff;
  color: black;
  height: 70px;
  padding-left: 16px;
  padding-right: 16px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: calc(60px - 0.5rem);
  margin-right: 10px;
}

.main-nav > ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.main-nav ul li a {
  text-decoration: none;
  color: black;
}

.profile-nav {
  margin-left: auto;
}

.profile-nav > ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.profile-nav > ul > li > a {
  text-decoration: none;
  color: black;
}

.profile-nav > ul > li {
  margin-right: 25px;
}

.bottom-bar {
  background-color: #700000;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottom-bar > ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: left;
  height: 100%;
  width: 85%;
}

.bottom-bar ul li {
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.bottom-bar > ul > li > a {
  padding: 0px 20px;
  text-decoration: none;
  color: #de9e03;
  font-weight: normal;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
  font-size: 20px;
}

.bottom-bar > ul > li > a:hover {
  cursor: pointer;
  background-color: #3d0000;
}

.main-nav {
  height: 100%;
}

.main-nav > ul {
  height: 100%;
}

.main-nav > ul > li {
  height: 100%;
}

.main-nav > ul > li > a {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  transition: background-color 0.5s ease;
}

.main-nav ul li a:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.profile-nav {
  height: 100%;
}

.profile-nav > ul {
  height: 100%;
}

.profile-nav > ul > li {
  height: 100%;
  margin: 0px;
  transition: background-color 0.5s ease;
}

.profile-nav > ul > li:hover {
  background-color: #b5b5b5;
  cursor: pointer;
}

.profile-nav > ul > li > a {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
}

.profile-nav > ul > li > a > img {
  max-height: 40%;
  width: auto;
}

.toggle-hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 20px;
  border: none;
  transition: background-color 0.5s ease;
}

.toggle-hamburger:hover {
  border-radius: 20px;
  border: none;
  background-color: #b5b5b5;
  cursor: pointer;
}

.toggle-hamburger img {
  height: calc(60px - 2rem);
  width: auto;
}

.dropdown-menu-white {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0px;
  top: 70px;
  border-radius: 10px;
  padding: 10px 0px;
}

.dropdown-menu-white ul {
  display: contents;
}

.dropdown-menu-white li {
  display: block;
  transition: background-color 0.5s ease;
}

.dropdown-menu-white li a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

body > header > div.top-bar > nav.main-nav > ul > li.more-nav-white > ul > li:nth-child(1),
body > header > div.top-bar > nav.main-nav > ul > li.more-nav-white > ul > li > a {
  transition: background-color 0.5s ease;
}

.dropdown-menu-profile {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0px;
  top: 70px;
  border-radius: 10px;
  padding: 10px 0px;
  right: 0;
}

.dropdown-menu-profile ul {
  display: contents;
}

.dropdown-menu-profile li {
  display: block;
  transition: background-color 0.5s ease;
}

.dropdown-menu-profile li:hover {
  background-color: #b5b5b5;
}

.dropdown-menu-profile li a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: black;
}

#drawer {
  position: absolute;
  width: 285px;
  height: 100%;
  background-color: #f8f9fa;
  left: -285px;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  z-index: 1050;
  top: 0;
}

#drawer > div {
  display: flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  padding-left: 16px;
  width: 100%;
  height: 70px;
  padding: 15px;
  padding-left: 30px;
  border-bottom: 0.5px solid #b5b5b5;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  transition: background-color 0.5s ease;
}

#drawer > div:hover:not(:first-child):hover {
  background-color: #b5b5b5;
  cursor: pointer;
}

.enter-from-left {
  transform: translateX(285px);
}

.close-button {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.close-button > img {
  max-height: 20px;
  width: auto;
  margin-right: 40px;
}

.close-button > img:hover {
  cursor: pointer;
}

.toggle-in {
  display: block !important;
}

.more-nav-red {
  display: none;
}

.dropdown-menu-red {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0px;
  top: 130px;
  border-radius: 10px;
  padding: 10px 0px;
}

.dropdown-menu-red ul {
  display: contents;
}

.dropdown-menu-red li {
  display: block;
  transition: background-color 0.5s ease;
}

.dropdown-menu-red li:hover {
  background-color: #dddddd;
}

.dropdown-menu-red li a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: black;
}

@media (max-width: 1024px) and (min-width: 832px) {
  .toggle-nav {
    display: none;
  }

  .more-nav-white {
    display: flex;
  }

  .more::after {
    content: "﹀";
    font-size: 16px;
    padding-top: 12px;
    margin-left: 5px;
  }

  .toggle-hamburger {
    display: none;
  }

  #drawer {
    display: none;
  }
}

@media (min-width: 1024px) {
  .toggle-nav {
    display: flex;
  }

  .more-nav-white {
    display: none;
  }

  .toggle-hamburger {
    display: none;
  }

  #drawer {
    display: none;
  }

  .dropdown-menu-white {
    display: none;
  }
}

@media (max-width: 831px) {
  .logo {
    display: none;
  }

  .main-nav {
    display: none;
  }

  .toggle-hamburger {
    display: flex;
  }

  #drawer {
    display: flex;
  }

  .dropdown-menu-white {
    display: none;
  }
  .flex_row-container {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 30px;
  }
}

@media (max-width: 570px) {
  .logo {
    display: none;
  }

  .main-nav {
    display: none;
  }

  .toggle-hamburger {
    display: flex;
  }

  #drawer {
    display: flex;
  }

  .dropdown-menu-white {
    display: none;
  }

  .toggle-nav-red {
    display: none !important;
  }

  .more-nav-red {
    display: flex;
  }

  .more_red::after {
    content: "﹀";
    font-size: 16px;
    padding-top: 12px;
    margin-left: 5px;
  }
}

@media (min-width: 571px) {
  .more-nav-red {
    display: none !important;
  }
}
@media (max-width: 770px) {
  .container_collapsed {
    flex-wrap: wrap;
  }

  .container_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    right: 0;
    overflow: hidden;
    margin-bottom: 20px;
    flex-basis: 100%;
  }

  .title-with-buttons {
    flex-wrap: wrap;
  }

  .title-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    right: 0;
    overflow: hidden;
    margin-bottom: 20px;
    flex-basis: 100%;
  }
}

@media (max-width: 456px) {
  #filter-container {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

/*Create Assessment*/

.content-body {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  height: calc(100% - 130px);
  margin-top: 160px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.body-container.w60 {
  margin: 0% 20%;
  margin-top: 30px;
  width: 60%;
  box-sizing: border-box;
}

.body-container.w85,
.body-container {
  margin: 0% 7.5%;
  margin-top: 30px;
  width: 85%;
  box-sizing: border-box;
}

.body-container.video {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-block {
  padding: 2%;
  border-radius: 20px;
  border: 0px solid black;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.content-block.video {
  height: 100%;
  width: 69%;
  margin-left: 0;
  margin-right: 1%;
}

.content-block.assessments {
  height: 100%;
  width: 29%;
  margin-left: 1%;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.content-block.assessments > .scrollable {
  display: block;
  max-height: calc(96% - 48.5px);
  overflow-y: scroll;
}

.content-block > h1 {
  padding-left: 30px;
}

.content-block.lecture > h1 {
  padding-left: 0px;
}

.current {
  border-bottom: 5px solid #de9e03;
  box-sizing: border-box;
  padding-top: 5px !important;
}

.form-group {
  padding: 10px 20px;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#assessmentName,
#assessment_desc,
#subject_code,
#assessment_type,
#open_Date,
#closing_Date,
#time_limit,
#allowed_attempts,
.textbox,
.dropdown,
.textarea {
  width: 100% !important;
  padding: 8px !important;
  margin: 0;
  margin-bottom: 0 !important;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: #f5f5f5;
  position: relative;
  height: 33.5px;
}

.textbox.choices {
  height: 33.5px;
}

.radio {
  height: 33.5px;
  margin: 0px 10px;
}

.half {
  width: 49% !important;
}

.float-right {
  float: right;
  margin-left: 1%;
}

.float-left {
  float: left;
  margin-right: 1%;
}

#assessment_desc,
.textarea {
  height: 100px;
  resize: none;
}

.no-resize {
  resize: none;
}

.field-block {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 10px;
}

.half-block {
  width: 50%;
}

.two-button-group {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.button-bundle {
  width: auto;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.button-bundle.with-margin > button {
  margin-right: 20px;
}

.button-type-1 {
  border-radius: 5px !important;
  background-color: #990000 !important;
  border: 0px !important;
  color: #fff !important;
  min-height: 40px !important;
}

.button-type-1.a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  min-height: 0 !important;
  margin: 0px 5px;
}

.title-with-buttons > h1 {
  display: inline-block;
}

.title-with-buttons.index > h1 {
  margin: 7.5px 0px;
}

.title-with-buttons.index {
  margin-bottom: 20px;
}

.title-with-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .body-container {
    margin: 0% 2.5%;
    margin-top: 30px;
    width: 95%;
    box-sizing: border-box;
  }
}

@media (max-width: 425px) {
  .content-block > h1 {
    padding-left: 15px;
  }

  .form-group {
    padding: 10px 5px;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
}

.video-container {
  width: 100%;
  padding: 30px 10px;
  padding-bottom: 0;
  box-sizing: border-box;
  height: calc(96% - 64.578px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#videoPlayer {
  max-width: 100%;
  border-radius: 20px;
  max-height: 100%;
}

.create_assessment {
  margin: 0 !important;
}

.question_title {
  margin-bottom: 20px;
}

.question_type_select {
  margin-bottom: 20px !important;
}

.remove_question_div {
  cursor: pointer;
  margin: 5px;
  height: 20px;
  width: 20px;
  background-image: url("../assets/close.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  float: right;
}

.multiple-choice-option,
.identification_div {
  display: flex;
  flex-direction: row; /* Default is row, so this is optional */
  width: 100%;
  margin-bottom: 10px;
}

.exit_button {
  cursor: pointer;
  margin: 5px;
  height: 20px;
  width: 20px;
  background-image: url("../assets/close.png");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  position: relative;
  float: right;
}

.add_option_div > p {
  box-sizing: border-box;
  margin-left: 32px;
  background-color: #f5f5f5;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #dddddd;
  margin-top: 0;
  padding: 8px;
  font-size: 14px;
}

.add_option_div {
  box-sizing: border-box;
  margin-top: 0;
}

.font-16 {
  font-size: 16px;
}

.pseudofile {
  width: 100%;
  height: 33.5px;
  background-color: #f5f5f5;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #dddddd;
}

.choose-file {
  background-color: #dddddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  height: 100%;
  width: 15%;
  border-right: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-name {
  padding-left: 10px;
  width: 85%;
}

#vid-container {
  padding: 10px 30px;
  box-sizing: border-box;
}

#vid-container > video {
  width: 100%;
  border-radius: 5px;
}

button.timestamp {
  padding: 0px;
}
